.footer{
    padding-top:30em;
    padding-bottom:2em;
    /* padding-left:44em; */
    text-align: center;
}
.footer-ft{
    color: rgba(169, 169, 169, 1);   
}
@media (max-width: 648px) {
.footer{
    padding-left:6em; 
}
}