
.image-1 {
  margin-top: -30em;
  margin-right: 4em;
  height: 70%;
  width: 50%;
  display: flex;
  float: right;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
}
.card {
  width: 26em;
  margin-top: 5%;
  margin-left: 68%;
  z-index: 2;
  position: absolute;
  background-color: #181719;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}
.container {
  padding: 2px 16px;
  color: white;
}
.alt {
  display: flex;
  float:left;
  margin-top:0.6em;
  margin-left:1em;
  clip-path: circle();
  height: 12%;
  width: 12%;
}
.txt {
  float: right;
  margin-right: 14em;
  margin-top: 0.5em;
  font-weight: bold;
  color:rgba(255, 255, 255, 1);
  font-size:16px;
}
.part {
  float: right;
  margin-right: 15.2em;
  margin-top: 0.2em;
  color:rgba(130, 130, 130, 1); 
  font-size:14px; 
  
}
.p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 3em;
  padding-bottom: 0.8em; 
  font-size:26px;
}

@media (max-width: 648px) {
  .image-1 {
    margin-top:-6em;
    margin-right: 1.5em;
    height: 90%;
    width: 90%;
    display: flex;
    float: right;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  }
 .card{
  margin-top: 35%;
  margin-left: 18%;
  width: 22.5em;
 }
.txt{
margin-top: 0.7em;
margin-right: 11em;
float:right;
}
.part{
  margin-top:-0.2em;
  margin-right: 12em;
}
.p {
margin-top: 2.5em;
}
}