
.nav {
    padding: 40px;
    align-items: center;
}
.nav-tp{
    margin-left: 4em;
}

.nav-items {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 10px; 
    
}
.nav-item {
    cursor: pointer;
    padding: 15px;  
    margin-right: 10px;
}
.nav-item:last-child {
    margin-right: 0;
    
}
.nav-item-active {
    border-bottom: 2px solid #fff;
}

.mobile {
    display: none;
  }
  
.desktop {
    display: flex;
  }
  

@media only screen and (max-width: 768px) { 
.nav-items{
   display: flex;
   flex-direction: column;  
   align-items: center;  
   flex-direction: column;
   justify-content: center;  
   color:white;
}
.mobile {
    display: flex;
    top: 15px;
    right: 20px;
    z-index: 3;
    position: absolute;
    height: calc(100em - 15px);
    width:100%;
    opacity: 0.7;
    background-color:black;
    justify-content: center;
   
    
}
.desktop {
    display: none;
  }
}
