
.nav {
    padding: 40px;
    align-items: center;
}
.nav-tp{
    margin-left: 4em;
}

.nav-items {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 10px; 
    
}
.nav-item {
    cursor: pointer;
    padding: 15px;  
    margin-right: 10px;
}
.nav-item:last-child {
    margin-right: 0;
    
}
.nav-item-active {
    border-bottom: 2px solid #fff;
}

.mobile {
    display: none;
  }
  
.desktop {
    display: flex;
  }
@media only screen and (max-width: 768px) { 
.nav-items{
    display: block;
}
.nav-item{
    display: block;
}
.mobile {
    display: flex;
  }

.desktop {
    display: none;
  }
}
