
.nav {
    padding: 40px;
    align-items: center;
}
.nav-tp{
    margin-left: 4em;
}
.nav-item {
    padding: 15px;
    margin-top:-1.2em;
    
    
}
.nav-items {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 10px;
   
    
}
.nav-item-h{
    border-bottom: 2px solid #ffffff;
    margin-right: 8em;   
}
.nav-item-c{
    margin-right: 8em;   

}
.nav-item-a{
    margin-right: 8em;   

}
nav-item-co{
    margin-right: 8em;   

}